.background-group {
    background-image: url('../img/test-rpg.jpg');
}

.boton-navbar:hover {
    background-color: darkslategray;
}

.boton-tag {
    background-color: grey;
    color: white;
}

.boton-tag:hover {
    color: grey;
    text-decoration: none;
}

.boton-volver:hover {
    background-color: rgb(238, 238, 238);
}

.card-body {
    white-space: wrap;
}

.group {
    display: inline-block;
    width: 200px;
}

.groups {
    overflow-x: auto;
    white-space: nowrap;
}

.item-in-home {
    display: inline-block;
    width: 300px;
}

.items-in-home {
    overflow-x: auto;
    white-space: nowrap;
}

.my-card {
    display: inline-block;
}

.my-cards {
    overflow-x: auto;
}

.scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.scrollable-p {
    overflow-y: auto;
    white-space: nowrap;
}

.scrolled {
    display: inline-block;
}

.valoracion-positiva {
    background-color: lightgreen;
}

.ver-todos {
    color: rgb(30, 30, 30);
}

.ver-todos:hover {
    color: rgb(30, 30, 30);
}